name: CI
on:
  push:
    tags: [ '*' ]

jobs:
  build:
    name: Build
    runs-on: windows-2019
    strategy:
      matrix:
        python-arch: [ 'x64' ]
        python-version: [ '3.12' ]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          architecture: ${{ matrix.python-arch }}
          python-version: ${{ matrix.python-version }}

      - name: Check Python install
        run: |
          which python
          python --version
          python -c "import struct; print(struct.calcsize('P') * 8)"
          which pip
          pip --version

      - name: Install Python dependencies
        run: |
          python -m pip install -U pip setuptools wheel

      - name: Build
        id: build
        run: |
          python setup.py bdist_wheel
          cd dist
          dir
          $wheelname = python -c "import glob; print(glob.glob('*.whl')[0])"
          echo "wheelname=$wheelname" >> $env:GITHUB_OUTPUT

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: ${{ steps.build.outputs.wheelname }}
          path: dist/${{ steps.build.outputs.wheelname }}

      - name: Test
        run: |
          pip install dist/${{ steps.build.outputs.wheelname }}
          python test.py prepare
          python test.py test

  release:
    name: Release
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Download artifacts
        uses: actions/download-artifact@v3
        with:
          path: ./artifacts

      - name: Prepare for release
        run: |
          python setup.py sdist
          python .github/helpers/gen_hash_body.py artifacts

      - name: Create release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          prerelease: true
          bodyFile: "body.md"
          artifacts: "*.sum,dist/*"
